<%= stylesheet_link_tag "jspsych.css" %>


<h1>Welcome to CNML</h1>
<p>This site is bulit by the one and only HYY</p>

</br>
<h2>
	<%= link_to "All Subjects", subjects_path %>
</h2>

</br>

<h2>
	<%= link_to "Experiments", exp_index_path %>
</h2>

</br>

<h2>
	<%= link_to "Surveys", survey_index_path %>
</h2>
</br>


<img src='/assets/customLogo.jpg'></img>"